<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GennexDataBaseConnectionString" connectionString="Data Source=192.168.2.153;Port=3306;Initial Catalog=orcozol;User ID=bi;Password=bi@orcozol2018;" providerName="MySql.Data.MySqlClient"/>
    <add name="TotalIPDataBaseConnectionString" connectionString="Server={0};Port=5432;User Id=integracao;Database=totalipdb;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
